<!-- <nav class="navbar navbar-expand-sm navbar-light fixed-top bg-primary">
   <div class="col-lg-1"></div>
   
    <a class="navbar-brand" href="#">
      <img src="../assets/image/logo1.jpeg" style="height: 40px; width: 150px;margin-top: -10px;">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavbar" style="">
      <ul class="navbar-nav">
      
        <li class="nav-item" style="margin-left: 15px;">
          <a class="nav-link" href="#" routerLink="home"><b style="color: white;font-size:16px;font-weight: 500;">Home</b></a>
        </li>
        <li style="padding-left: 0px;">
          <div class="dropdown" style="margin-top: 2px;">
            <button class="btn btn-outline-primary btn-sm" style="border-radius: 15px;font-weight: 500;" data-bs-toggle="dropdown"
              aria-expanded="false">
              <a class="nav-link" style="color: white;font-size:16px;font-weight: 500;">
                Services <i class="fa">&#xf103;</i></a>
            </button>
            <ul class="dropdown-menu" style="border-radius: 7px;">
              <li><a class="dropdown-item" routerLink="tiffin" >Tiffin</a></li>
              <li><a class="dropdown-item" routerLink="vehicle">Vehicle</a></li>
              <li><a class="dropdown-item" routerLink="Accomodation">Accomodation</a></li>
              <li><a class="dropdown-item" routerLink="Appliances">Appliances</a></li>
            </ul>
          </div>
        </li>
        <li class="nav-item" style="padding-left: 15px;">
          <a class="nav-link" routerLink="offers" style="color: white;font-size:16px;font-weight: 500;">Offers %</a>
        </li>
        <li class="nav-item" style="padding-left: 15px;">
          <a class="nav-link" routerLink="checkout" style="color: white;font-size:16px;font-weight: 500;">Checkout</a>
        </li>
        <li class="nav-item" style="padding-left: 15px;">
          <a class="nav-link" routerLink="seller-dashboard" style="color: white;font-size:16px;font-weight: 500;">My
              Account</a>
        </li>
        <li class="nav-item" style="padding-left: 15px;float:inline-end">
          <a class="nav-link" routerLink="cart" style="color: white;font-size:18px;font-weight: 500;"><i style="font-size: 23px;font-weight: 500;margin-top:-5px"
                class="fa fa-shopping-cart"></i></a>
        </li>
        <li class="nav-item" style="padding-left: 15px;">
          <a class="nav-link" routerLink="Login" style="color: white;font-size:23px;font-weight: 500;margin-top:-2px"><i class="fa fa-user"
                aria-hidden="true" ></i></a>
        </li>
      </ul>
    </div>
  
</nav> -->
