 <!-- Navigation-->

<!-- Header-->
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <img src="assets/image/Tiffin/t4.png" alt="" style="height: 150px;width:250px;">
            <h1 class="display-4 fw-bolder">Discover the best food & drinks in Nagpur</h1>
            <p class="lead fw-normal text-white-50 mb-0">We deliver daily fresh and tasty Tiffins</p>
        </div>
    </div>
</header>




<div class="container-fluid">
    <div class="row">
       <div class="col-lg-12 col-md-12 col-12">
            <h1 style="font-family: 'Courgette', cursive;padding-left: 100px;padding-top:60px;font-size:30px;">Tiffin Packages</h1>
       </div>
    </div>    
   </div>
<!-- Section-->
<section class="py-5">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
            <div class="col mb-5" *ngFor="let user of userList;let idx=index">
                <div class="card h-100">
                    <!-- Product image-->
                    <img class="card-img-top" src="assets/image/Tiffin/guju_dish.jpeg" alt="..." />
                    <!-- Product details-->
                    <div class="card-body p-4">
                        <div class="text-center">
                            <!-- Product name-->
                            <h4 class="fw-bolder">{{user.vtype}}</h4>
                            
                            <h4 style="margin-top: 10px;">₹{{user.vprice}}</h4>
                            <p style="margin-top: 10px;">Items:{{user.vdetails}}</p>
                            <p>{{user.vaddress}}</p>
                            <p>{{user.vcity}}</p>
                            <h4>{{user.vcontact}}</h4>
                        </div>
                    </div>
                    <!-- Product actions-->
                    <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                        <div class="text-center"><a class="btn btn-primary btn-lg btn-lg" href="#">Add to cart</a></div>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</section>

<!-- The Tiffin Modal  -->
<div class="modal" id="myModal2">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
       
        <div class="modal-header text-center" style="background-color: white">
          <h4 class="modal-title text-black">MESS OWNER DETAILS FORM</h4>
  
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        
        <div class="modal-body">
            <div class="row mb-4">
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-outline">
                    <label class="form-label" for="form6Example1">Full Name:</label>&nbsp;
                    <input type="text" id="form6Example1" class="form-control"/>
                  </div>
                </div>
                <div class="col-lg-6 col-md-6 col-12">
                  <div class="form-outline">
                    <label class="form-label" for="form6Example2">Email:</label>
                    <input type="text" id="form6Example2" class="form-control"/>
                  </div>
                </div>
              </div>
             

  
            <div class="row mb-4">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">Contact No.:</label>&nbsp;
                  <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vcontact"/>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Address:</label>
                  <input type="text" id="form6Example2" class="form-control" [(ngModel)]="vaddress"/>
                </div>
              </div>
            </div>
  
            <div class="row mb-4">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">City:</label>&nbsp;
                  <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vcity"/>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label for="sel2">Mess Type:</label>
  
                    <select class="form-control" id="sel1" name="sellist1" style="height: 35px" [(ngModel)]="vtype">
                      <option>Gujrati thali</option>
                      <option>Maharashtrian Thali</option>
                      <option>Veg Thali</option>
                      <option>Non Veg Thali</option>
                      <option>Special Thali</option>
                      <option>Other</option>
                    </select>
                </div>
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: -8px">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">Price(Monthly):</label>&nbsp;
                  <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vprice" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Thali Details:</label>
                  <input type="text" id="form6Example2" class="form-control" placeholder="Enter items covered in thali" [(ngModel)]="vdetails"/>
                </div>
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: 10px">
              <div class="col-lg-12 col-md-12 col-12">
                <label for="formFileMultiple" class="form-label">Mess Owner Documents(Pdf Format):</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple />
                <p style="color: red;font-size: 12px;">For eg: Driver Licence, PCC Report, Medical Fitness
                   Report, Address Proof, Passport Photo, Driver Testing, etc.</p>
              </div>
            </div>
  
            <div class="row" style="margin-top: -15px">
              <div class="col-lg-12 col-md-12 col-12">
                <form action="/action_page_inputtags_multiplefiles.php">
                  <label for="formFileMultiple" class="form-label">Items Images:</label>
                  <input class="form-control" type="file" id="formFileMultiple" multiple [(ngModel)]="vimage"/>
                </form>
              </div>
            </div>
            <script>
              // Add the following code if you want the name of the file appear on select
              $(".custom-file-input").on("change", function() {
                var fileName = $(this).val().split("\\").pop();
                $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
              });
              </script>
  
            <div class="modal-footer justify-content-end" style="margin-top: 5px">
                <button type="button" class="btn btn-danger" (click)="clear()">Cancel</button>
                <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="update()" *ngIf="isEditBtnClicked=='yes'" [disabled]="vtype == '' || vcontact == '' || vcity == '' || vprice == '' || vdetails == '' || vaddress == '' " >Update</button>
                <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="submit()" *ngIf="isEditBtnClicked=='no'" [disabled]="vtype == '' || vcontact == '' || vcity == '' || vprice == '' || vdetails == '' || vaddress == '' " >Submit</button>
            </div>
    </div>
    </div>
    </div>
    </div>
    