<div class="col-lg-12 carousel-header">
  <div class="carousel p-1">
    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-bs-ride="carousel"
    >
      <div class="carousel-inner">
        <div class="carousel-item active" data-bs-interval="7000">
          <img
            src="https://png.pngtree.com/background/20210712/original/pngtree-fashion-furniture-banner-background-picture-image_1186187.jpg"
            class="d-block w-100"
            style="
              background-position: center;
              background-size: cover;
              background-repeat: no-repeat;
            "
          />
        </div>
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <img
          src="https://png.pngtree.com/background/20210710/original/pngtree-window-kitchen-small-fresh-home-appliance-poster-picture-image_1039864.jpg"
          class="d-block w-100"
          style="
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          "
        />
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <img
          src="https://png.pngtree.com/background/20210709/original/pngtree-room-furniture-interior-home-background-picture-image_334712.jpg"
          class="d-block w-100"
          style="
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          "
        />
      </div>
      <div class="carousel-item" data-bs-interval="7000">
        <img
          src="https://png.pngtree.com/background/20210710/original/pngtree-99-household-appliances-big-promotion-carnival-blue-banner-picture-image_1021800.jpg"
          class="d-block w-100"
          style="
            background-position: center;
            background-size: cover;
            background-repeat: no-repeat;
          "
        />
      </div>
    </div>

    <button
      class="carousel-control-prev"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="prev"
    >
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button
      class="carousel-control-next"
      type="button"
      data-bs-target="#carouselExampleControls"
      data-bs-slide="next"
    >
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>
</div>

<br />

<div class="col-lg-12 twoCatagories">
  <div class="row">
    <div class="appliances">
      <div
        class="card appliances-img"
        style="
          background: url(https://images.unsplash.com/photo-1570222094114-d054a817e56b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8Mnx8YXBwbGlhbmNlc3xlbnwwfHwwfHw%3D&auto=format&fit=crop&w=500&q=60)
            center no-repeat;
        "
      >
        <p class="appliances-text">Appliances</p>
      </div>
    </div>

    <div class="furniture">
      <div
        class="card furniture-img"
        style="
          background: url(https://images.unsplash.com/photo-1493663284031-b7e3aefcae8e?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxzZWFyY2h8OXx8ZnVybml0dXJlfGVufDB8fDB8fA%3D%3D&auto=format&fit=crop&w=500&q=60)
            center no-repeat;
        "
      >
        <p class="furniture-text">Furnitures</p>
      </div>
    </div>
  </div>
</div>

<br />

<div class="col-lg-12 appliances-item-slider my-2">
  <div class="px-5 py-4">
    <p class="appliances-item-title">
      Appliances List
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 20"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </p>
  </div>
  <div class="col-lg-12 silder-wrap">
    <div class="slider-main d-flex">
      <div class="item card" *ngFor="let user of userList;let idx=index">
        <div
          class="item-image"
          style="
            background: url(https://whirlpoolindia.vtexassets.com/arquivos/ids/156092-220-220?v=1751527194&width=220&height=220&aspect=true)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">{{user.vtype}}</p>
        </div>

        <div class="ps-3">
          <p class="item-image-price-text">{{user.vdetails}}</p>
          &nbsp;
          

          <p class="p-1 item-image-msrp-price-text">₹{{user.vprice}}</p>
        </div>
        <div class="rent-now">
          <button class="btn btn-primary rent-now-button">Rent Now</button>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://whirlpoolindia.vtexassets.com/arquivos/ids/160316-220-220?v=1755152788&width=220&height=220&aspect=true)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">
            Superb Atom 7kg 5 Star Semi Automatic Washing Machine
          </p>
        </div>
        <div class="ps-3">
          <p class="item-image-price-text">₹9,990</p>
          &nbsp;
          <p style="color: grey; display: inline; font-family: 'arima'">MRP</p>
          <p class="p-1 item-image-msrp-price-text">₹14,600</p>
        </div>
        <div class="rent-now">
          <button class="btn btn-primary rent-now-button">Rent Now</button>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://whirlpoolindia.vtexassets.com/arquivos/ids/156070-220-220?v=1755264519&width=220&height=220&aspect=true)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">
            Magicook Pro 20L Solo Microwave (18 Auto-Cook Menus)
          </p>
        </div>
        <div class="ps-3">
          <p class="item-image-price-text">₹6,990</p>
          &nbsp;
          <p
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p class="p-1 item-image-msrp-price-text">₹8,775</p>
        </div>
        <div class="rent-now">
          <button class="btn btn-primary rent-now-button">Rent Now</button>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/51IH7EPo7ML._AC_UY218_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">
            Black & Decker Appliances DCM25-IN 330-Watt 1-Cup Coffee Maker
          </p>
        </div>
        <div class="ps-3">
          <p class="item-image-price-text">₹6,990</p>
          &nbsp;
          <p
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p class="p-1 item-image-msrp-price-text">₹8,775</p>
        </div>
        <div class="rent-now">
          <button class="btn btn-primary rent-now-button">Rent Now</button>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/610XNgcgfKL._AC_UY218_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">
            KENT Smart Multi Cooker Cum Kettle 1.2 Liter 800W, Electric Cooker
            with Steamer & Boiler for Idlis, Instant Noodles, Momos, Eggs, &
            Steam Vegetables | Inner Stainless Steel & Cool Touch Outer Body
          </p>
        </div>
        <div class="ps-3">
          <p class="item-image-price-text">₹1,599</p>
          &nbsp;
          <p
            class=""
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p class="p-1 item-image-msrp-price-text">₹2,900</p>
        </div>
        <div class="rent-now">
          <button class="btn btn-primary rent-now-button">Rent Now</button>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/71C3psw4rzS._AC_UY218_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">
            KENT 16025 Sandwich Grill 700W | Non-Toxic Ceramic Coating |
            Automatic Temperature Cut-off with LED Indicator | Adjustable Height
            Control, Metallic Silver, Standard
          </p>
        </div>
        <div class="ps-3">
          <p class="item-image-price-text">₹1,699</p>
          &nbsp;
          <p
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p class="p-1 item-image-msrp-price-text">₹1,975</p>
        </div>
        <div class="rent-now">
          <button class="btn btn-primary rent-now-button">Rent Now</button>
        </div>
      </div>
    </div>
    <div class="button-area">
      <button class="prev btn" appPrevApplianceButton>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="bi bi-chevron-compact-left"
          viewBox="0 0 15 15"
        >
          <path
            fill-rule="evenodd"
            d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"
          />
        </svg>
      </button>
      <button class="next btn" appNextApplianceButton>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<br />

<div class="col-lg-12 furniture-item-slider my-2">
  <div class="px-5 py-4">
    <p class="furniture-item-title">
      Furniture List
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="currentColor"
        class="bi bi-chevron-right"
        viewBox="0 0 16 20"
      >
        <path
          fill-rule="evenodd"
          d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
        />
      </svg>
    </p>
  </div>
  <div class="col-lg-12 silder-wrap">
    <div class="slider-main d-flex">
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://ii3.pepperfry.com/media/catalog/product/h/a/494x544/hayao-4-tier-book-shelf-in-wenge-finish-by-mintwud-hayao-4-tier-book-shelf-in-wenge-finish-by-mintwu-szpnsj.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">
            Hayao 4 Tier Book Shelf In Wenge Finish
          </p>
        </div>
        <div class="ps-3">
          <p class="item-image-price-text">₹ 2,999</p>
          &nbsp;
          <p style="font-family: 'arima'; color: gray; display: inline">MRP</p>
          <p class="p-1 item-image-msrp-price-text">₹ 9,999</p>
        </div>
        <div class="rent-now">
          <button class="btn rent-now-button">Rent Now</button>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://ii2.pepperfry.com/media/catalog/product/m/o/494x544/moka-book-shelf-in-brown-colour-by-crystal-furnitech-moka-book-shelf-in-brown-colour-by-crystal-furn-3qkyrf.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">Moka Book Shelf in Brown Colour</p>
        </div>
        <div class="ps-3">
          <p class="item-image-price-text">₹ 2,018</p>
          &nbsp;
          <p
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p class="p-1 item-image-msrp-price-text">₹ 2,699</p>
        </div>
        <div class="rent-now">
          <button class="btn btn-primary rent-now-button">Rent Now</button>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/61ROdHOc6+L._AC_UL320_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">
            GIGLICK 4XL Bean Bag with Footrest Ready to Use Filled with Beans
            Color Navy Blue(Faux Leather)
          </p>
        </div>
        <div class="ps-3">
          <p class="item-image-price-text">₹2,299</p>
          &nbsp;
          <p
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p class="p-1 item-image-msrp-price-text">₹4,999</p>
        </div>
        <div class="rent-now">
          <button class="btn btn-primary rent-now-button">Rent Now</button>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/71nTAf3lDuL._AC_UL320_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">
            Hoopy Classic Bean Bag Cover Without Beans (XL, Red) | Ideal for
            Office and Home Use | Premium Fabric & Craftsmanship
          </p>
        </div>
        <div class="ps-3">
          <p class="item-image-price-text">₹699.00</p>
          &nbsp;
          <p
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p class="p-1 item-image-msrp-price-text">₹1,500.00</p>
        </div>
        <div class="rent-now">
          <button class="btn btn-primary rent-now-button">Rent Now</button>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/71v0xtDKjmL._AC_UL320_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">
            Folding Matters| Folding Matters Home Kitchen| Folding Matters with
            Covers| Folding Matters Double Bed for Floor|
          </p>
        </div>
        <div class="ps-3">
          <p class="item-image-price-text">₹1,299</p>
          &nbsp;
          <p
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p class="p-1 item-image-msrp-price-text">₹2,999</p>
        </div>
        <div class="rent-now">
          <button class="btn btn-primary rent-now-button">Rent Now</button>
        </div>
      </div>
      <div class="item card">
        <div
          class="item-image"
          style="
            background: url(https://m.media-amazon.com/images/I/614ArW7JDuL._AC_UL320_.jpg)
              no-repeat center;
          "
        ></div>
        <div class="ps-3">
          <p class="item-image-title-text">
            SUNNYCRAFT Multipurpose Home Engineered Wood Powder Coated Finish
            Study Desk (White)
          </p>
        </div>
        <div class="ps-3">
          <p class="item-image-price-text">₹2,599</p>
          &nbsp;
          <p
            style="
              font-weight: 500;
              color: grey;
              display: inline;
              font-family: 'arima';
            "
          >
            MRP
          </p>
          <p class="p-1 item-image-msrp-price-text">₹4,999</p>
        </div>
        <div class="rent-now">
          <button class="btn btn-primary rent-now-button">Rent Now</button>
        </div>
      </div>
    </div>
    <div class="button-area">
      <button class="prev btn" appPrevApplianceButton>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="bi bi-chevron-compact-left"
          viewBox="0 0 15 15"
        >
          <path
            fill-rule="evenodd"
            d="M9.224 1.553a.5.5 0 0 1 .223.67L6.56 8l2.888 5.776a.5.5 0 1 1-.894.448l-3-6a.5.5 0 0 1 0-.448l3-6a.5.5 0 0 1 .67-.223z"
          />
        </svg>
      </button>
      <button class="next btn" appNextApplianceButton>
        <svg
          xmlns="http://www.w3.org/2000/svg"
          fill="currentColor"
          class="bi bi-chevron-right"
          viewBox="0 0 16 16"
        >
          <path
            fill-rule="evenodd"
            d="M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z"
          />
        </svg>
      </button>
    </div>
  </div>
</div>

<br />




<!-- The Accomodation Modal  -->
<div class="modal" id="appliances-modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
     
      <div class="modal-header text-center" style="background-color: white">
        <h4 class="modal-title text-black">APPLIANCES OWNER DETAILS FORM</h4>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      
      <div class="modal-body">
        
          <div class="row mb-4" style="margin-top: -70px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Full Name:</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row mb-4" style="margin-top: -190px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Email:</label>
                <input type="text" id="form6Example2" class="form-control"/>
              </div>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -190px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Contact No.:</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vcontact"/>
              </div>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -190px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Address:</label>
                <input type="text" id="form6Example2" class="form-control" [(ngModel)]="vaddress"/>
              </div>
            </div>
          </div>
      

          <div class="row mb-4" style="margin-top: -190px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">City:</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vcity"/>
              </div>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -180px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label for="sel2">Accomodation Name:</label>
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vtype"/>
                  
              </div>
            </div>
          </div>
          

          <div class="row mb-4" style="margin-top: -190px">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Price(Per Day):</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vprice" />
              </div>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -190px">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Appliance Details:</label>
                <input type="text" id="form6Example2" class="form-control" [(ngModel)]="vdetails"/>
              </div>
            </div>
          </div>
        

          <div class="row mb-4" style="margin-top: -190px">
            <div class="col-lg-12 col-md-12 col-12">
              <label for="formFileMultiple" class="form-label">Appliance Documents(Pdf Format):</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <p style="color: red;font-size: 12px;">For eg: RC, Permit, Insurance, Pollution, 
                Fitness, etc.</p>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -180px">
            <div class="col-lg-12 col-md-12 col-12">
              <label for="formFileMultiple" class="form-label">Owner Documents(Pdf Format):</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <p style="color: red;font-size: 12px;">For eg: Driver Licence, PCC Report, Medical Fitness
                 Report, Address Proof, Passport Photo, Driver Testing, etc.</p>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -180px">
            <div class="col-lg-12 col-md-12 col-12">
              <form action="/action_page_inputtags_multiplefiles.php">
                <label for="formFileMultiple" class="form-label">Appliance current Images:</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple [(ngModel)]="vimage"/>
              </form>
            </div>
          </div>
          </div>
          <script>
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function() {
              var fileName = $(this).val().split("\\").pop();
              $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
            </script>

          <div class="modal-footer justify-content-end" style="margin-top: -150px">
              <button type="button" class="btn btn-danger" (click)="clear()">Cancel</button>
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="update()">Update</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="submit()">Submit</button>
          </div>
     
      
    </div>
  </div>
  </div>


  <!-- The Furniture Modal  -->
<div class="modal" id="furniture-modal">
  <div class="modal-dialog modal-md">
    <div class="modal-content">
     
      <div class="modal-header text-center" style="background-color: white">
        <h4 class="modal-title text-black">FURNITURE OWNER DETAILS FORM</h4>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      
      <div class="modal-body">
        
          <div class="row mb-4" style="margin-top: -70px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Full Name:</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control"/>
              </div>
            </div>
          </div>
          <div class="row mb-4" style="margin-top: -190px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Email:</label>
                <input type="text" id="form6Example2" class="form-control"/>
              </div>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -190px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Contact No.:</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vcontact"/>
              </div>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -190px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Address:</label>
                <input type="text" id="form6Example2" class="form-control" [(ngModel)]="vaddress"/>
              </div>
            </div>
          </div>
      

          <div class="row mb-4" style="margin-top: -190px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">City:</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vcity"/>
              </div>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -180px;">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label for="sel2">Furniture Name:</label>
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vtype"/>
                  
              </div>
            </div>
          </div>
          

          <div class="row mb-4" style="margin-top: -190px">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Price(Per Day):</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vprice" />
              </div>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -190px">
            <div class="col-lg-12 col-md-12 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Furniture Details:</label>
                <input type="text" id="form6Example2" class="form-control" [(ngModel)]="vdetails"/>
              </div>
            </div>
          </div>
        

          <div class="row mb-4" style="margin-top: -190px">
            <div class="col-lg-12 col-md-12 col-12">
              <label for="formFileMultiple" class="form-label">Furniture Documents(Pdf Format):</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <p style="color: red;font-size: 12px;">For eg: RC, Permit, Insurance, Pollution, 
                Fitness, etc.</p>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -180px">
            <div class="col-lg-12 col-md-12 col-12">
              <label for="formFileMultiple" class="form-label">Owner Documents(Pdf Format):</label>
              <input class="form-control" type="file" id="formFileMultiple" multiple />
              <p style="color: red;font-size: 12px;">For eg: Driver Licence, PCC Report, Medical Fitness
                 Report, Address Proof, Passport Photo, Driver Testing, etc.</p>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -180px">
            <div class="col-lg-12 col-md-12 col-12">
              <form action="/action_page_inputtags_multiplefiles.php">
                <label for="formFileMultiple" class="form-label">Furniture current Images:</label>
                <input class="form-control" type="file" id="formFileMultiple" multiple [(ngModel)]="vimage"/>
              </form>
            </div>
          </div>
          </div>
          <script>
            // Add the following code if you want the name of the file appear on select
            $(".custom-file-input").on("change", function() {
              var fileName = $(this).val().split("\\").pop();
              $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
            </script>

          <div class="modal-footer justify-content-end" style="margin-top: -150px">
              <button type="button" class="btn btn-danger" (click)="clear()">Cancel</button>
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="update()" *ngIf="isEditBtnClicked=='yes'" [disabled]="vtype == '' || vcontact == '' || vcity == '' || vprice == '' || vdetails == '' || vaddress == '' " >Update</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="submit()" *ngIf="isEditBtnClicked=='no'" [disabled]="vtype == '' || vcontact == '' || vcity == '' || vprice == '' || vdetails == '' || vaddress == '' " >Submit</button>
          </div>
     
      
    </div>
  </div>
  </div>

