<!-- <app-navbar></app-navbar> -->

<nav class="navbar navbar-expand-sm navbar-light fixed-top bg-primary">
    <div class="col-lg-1"></div>
    
     <a class="navbar-brand" href="#">
       <img src="../assets/image/logo1.jpeg" style="height: 40px; width: 150px;margin-top: -10px;">
     </a>
     <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
       <span class="navbar-toggler-icon"></span>
     </button>
     <div class="collapse navbar-collapse" id="collapsibleNavbar" style="">
       <ul class="navbar-nav">
           <li class="nav-item" style="margin-left: 15px;">
           <a class="nav-link" href="#" routerLink="home"><b style="color: white;font-size:16px;font-weight: 500;" (click)="HomeClicked">Home</b></a>
         </li>
         <li style="padding-left: 0px;">
           <div class="dropdown" style="margin-top: 2px;">
             <button class="btn btn-outline-primary btn-sm" style="border-radius: 15px;font-weight: 500;" data-bs-toggle="dropdown"
               aria-expanded="false">
               <a class="nav-link" style="color: white;font-size:16px;font-weight: 500;">
                 Services <i class="fa">&#xf103;</i></a>
             </button>
             <ul class="dropdown-menu" style="border-radius: 7px;">
               <li><a class="dropdown-item" routerLink="tiffin" (click)="tiffinclicked()">Tiffin</a></li>
               <li><a class="dropdown-item" routerLink="vehicle" (click)="vehicleclicked()">Vehicle</a></li>
               <li><a class="dropdown-item" routerLink="Accomodation" (click)="roomclicked()">Accomodation</a></li>
               <li><a class="dropdown-item" routerLink="Appliances" (click)="appliancesclicked()">Appliances</a></li>
             </ul>
           </div>
         </li>
         <li class="nav-item" style="padding-left: 15px;">
           <a class="nav-link" routerLink="offers" style="color: white;font-size:16px;font-weight: 500;">Offers %</a>
         </li>
         <li class="nav-item" style="padding-left: 15px;">
           <a class="nav-link" routerLink="checkout" style="color: white;font-size:16px;font-weight: 500;">Checkout</a>
         </li>
         <li class="nav-item" style="padding-left: 15px;">
           <a class="nav-link" routerLink="seller-dashboard" style="color: white;font-size:16px;font-weight: 500;">My
               Account</a>
         </li>
         <li class="nav-item" style="padding-left: 15px;float:inline-end">
           <a class="nav-link" routerLink="cart" style="color: white;font-size:18px;font-weight: 500;"><i style="font-size: 23px;font-weight: 500;margin-top:-5px"
                 class="fa fa-shopping-cart"></i></a>
         </li>
         <li class="nav-item" style="padding-left: 15px;">
           <a class="nav-link" routerLink="Login" style="color: white;font-size:23px;font-weight: 500;margin-top:-2px"><i class="fa fa-user"
                 aria-hidden="true" ></i></a>
         </li>
       </ul>
     </div>
   
 </nav>
 <div class="row">
    <div class="col-lg-6">
       <div class="col-lg-4 col-md-6 col-6 text-center"></div>
       <div class="col-lg-4 col-md-12 col-12">
         <a routerLink="/Accomodation" (click)="roomclicked()">
         <img src="../assets/image/Tiffin/homelogo2.png" alt="Los Angeles" class="d-block" style="width: 110px; height: 35px;padding-bottom: 7px;"/>
          </a>
         <a class="text-center" routerLink="/Accomodation" style="color: black;font-weight: 500;" (click)="roomclicked()">
                 Accommodation
            </a>

       </div> 
       <div class="col-lg-4 col-md-12 col-12">
         <a routerLink="/tiffin" (click)="tiffinclicked()">
         <img src="../assets/image/Homepage/tif.webp" alt="Los Angeles" class="d-block" style="width:110px; height: 35px;padding-bottom: 7px;"/>
         </a>
         <a class="text-center" routerLink="/tiffin" style="color: black;font-weight: 500;margin-left:12px" (click)="tiffinclicked()">Tiffin / Mess</a>
       </div>
     </div>
     <div class="col-lg-6" style="margin-left: -20px;">
       <div class="col-lg-4 col-md-12">
         <a routerLink="/vehicle" (click)="vehicleclicked()">
         <img src="../assets/image/Tiffin/bikesticker.jpg" alt="Los Angeles" class="d-block"
         style="width: 110px; height: 50px;margin-top: -15px;padding-bottom: 7px;"/>
         </a>
            <a class="text-center" routerLink="/vehicle" 
            style="margin-top: 5px;color: black;font-weight: 500;margin-left: 30px;" (click)="vehicleclicked()">Vehicle</a>
       </div>
       <div class="col-lg-4 col-md-12 col-12">
         <a routerLink="/Appliances" (click)="appliancesclicked()">
         <img src="../assets/image/appliances/a2.webp" alt="Los Angeles" class="d-block"
         style="width: 110px; height: 45px;padding-bottom: 7px;margin-top: -12px;"/>
         </a>
           <a class="text-center" routerLink="/Appliances" style="color: black;font-size: 15px;
           font-weight: 500;margin-left:17px;" (click)="appliancesclicked()">Appliances</a>
       </div>
       <div class="col-lg-4 col-md-4 col-4 text-center"></div>
       
     </div>

   </div> 
 
<router-outlet></router-outlet>

<!-- Footer -->
<footer class="col-lg-12 text-center text-lg-start bg-dark text-white">
    <!-- Section: Social media -->
    <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
      <!-- Left -->
      <div class="me-5 d-none d-lg-block">
        <span>Get connected with us on social networks:</span>
      </div>
      <!-- Left -->
  
      <!-- Right -->
      <div>
        <a href="" class="me-4 link-light">
          <i class="fa fa-facebook-f"></i>
        </a>
        <a href="" class="me-4 link-light">
          <i class="fa fa-twitter"></i>
        </a>
        <a href="" class="me-4 link-light">
          <i class="fa fa-google"></i>
        </a>
        <a href="" class="me-4 link-light">
          <i class="fa fa-instagram"></i>
        </a>
        <a href="" class="me-4 link-light">
          <i class="fa fa-linkedin"></i>
        </a>
        <a href="" class="me-4 link-light">
          <i class="fa fa-github"></i>
        </a>
      </div>
      <!-- Right -->
    </section>
    <!-- Section: Social media -->
  
    <!-- Section: Links  -->
    <section class="">
      <div class="container text-center text-md-start mt-5">
        <!-- Grid row -->
        <div class="row mt-3">
          <!-- Grid column -->
          <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
            <!-- Content -->
            <h6 class="text-uppercase fw-bold mb-4">
              <i class="fa fa-gem me-3 text-secondary"></i>
              <img src="../assets/image/PGAV.png" style="height: 30px; width: 210px; margin-left: 2%" />
            </h6>
            <p class="text-center">
              Rental Service makes more enjoyable for an easier life. To save your
              time and give you greater peace of mind, we offer quick and easy
              solutions to suit your needs.
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">ABOUT</h6>
            <p>
              <a href="#!" class="text-reset" routerLink="Contact">Contact Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset" routerLink="About">About Us</a>
            </p>
            <p>
              <a href="#!" class="text-reset" routerLink="offers">Offers</a>
            </p>
            <p>
              <a href="#!" class="text-reset" routerLink="faq">FAQs</a>
            </p>
            <p>
              <a href="" class="text-reset" data-toggle="modal" data-target="#exampleModalLabel1">Feedback</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-4 col-lg-2 col-xl-2 mx-auto mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Seller Purpose</h6>
            <p>
              <a href="#!" class="text-reset" data-bs-toggle="modal" data-bs-target="#myModal" 
              *ngIf='room =="yes" && vehicle =="no" && tiffin =="no"&& appliances =="no"'>Advertise your Rooms</a>
            </p>
            <p>
              <a href="#!" class="text-reset" data-bs-toggle="modal" data-bs-target="#myModal1" *ngIf='room =="no" && vehicle =="yes" && tiffin =="no"&& appliances =="no"'>Advertise your Vehicles</a>
            </p>
            <p>
              <a href="#!" class="text-reset" data-bs-toggle="modal" data-bs-target="#myModal2" *ngIf='room =="no" && vehicle =="no" && tiffin =="yes" && appliances =="no"'>Advertise your tiffin</a>
            </p>
            <p>
              <a href="" class="text-reset" data-bs-toggle="modal" data-bs-target="#appliances-modal" *ngIf='room =="no" && vehicle =="no" && tiffin =="no" && appliances =="yes"'>Advertise your
                appliances</a>
            </p>
            <p>
              <a href="" class="text-reset" data-bs-toggle="modal" data-bs-target="#furniture-modal" *ngIf='room =="no" && vehicle =="no" && tiffin =="no" && appliances =="yes"'>Advertise your
                furniture </a>
            </p>
            <p>
              <a href="#!" class="text-reset">Help</a>
            </p>
          </div>
          <!-- Grid column -->
  
          <!-- Grid column -->
          <div class="col-md-3 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
            <!-- Links -->
            <h6 class="text-uppercase fw-bold mb-4">Contact</h6>
            <p>
              <i class="fa fa-home me-3 text-light"></i> Nagpur, NY 10012, INDIA
            </p>
            <p>
              <i class="fa fa-envelope me-3 text-light"></i>
              info@example.com
            </p>
            <p><i class="fa fa-phone me-3 text-light"></i> + 01 234 567 88</p>
            <p><i class="fa fa-print me-3 text-light"></i> + 01 234 567 89</p>
          </div>
          <!-- Grid column -->
        </div>
        <!-- Grid row -->
      </div>
    </section>
    <!-- Section: Links  -->
  
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.025)">
      © 2022 Copyright:
      <a class="text-reset fw-bold" href="https://mdbootstrap.com/">PGAV DESTINATIONS.com</a>
    </div>
    <!-- Copyright -->
  </footer>
  
  <div id="feedback-form-wrapper">
    <div id="feedback-form-modal">
      <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel1" aria-hidden="true">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel1">Feedback Form</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              <form>
                <div class="form-group">
                  <label for="exampleFormControlTextarea1">How likely you would like to recommand us to your
                    friends?</label>
                  <div class="rating-input-wrapper d-flex justify-content-between mt-2">
                    <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">1</span></label>
                    <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">2</span></label>
                    <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">3</span></label>
                    <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">4</span></label>
                    <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">5</span></label>
                    <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">6</span></label>
                    <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">7</span></label>
                    <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">8</span></label>
                    <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">9</span></label>
                    <label><input type="radio" name="rating" /><span class="border rounded px-3 py-2">10</span></label>
                  </div>
                  <div class="rating-labels d-flex justify-content-between mt-1">
                    <label>Very unlikely</label>
                    <label>Very likely</label>
                  </div>
                </div>
                <div class="form-group">
                  <label for="input-one">What made you leave us so early?</label>
                  <input type="text" class="form-control" id="input-one" placeholder="" />
                </div>
                <div class="form-group">
                  <label for="input-two">Would you like to say something?</label>
                  <textarea class="form-control" id="input-two" rows="3"></textarea>
                </div>
              </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">
                Close
              </button>
              <button type="button" class="btn btn-primary">Submit</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer -->


  
  <!-- The Modal -->
  <div class="modal" id="myModal1">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header text-center" style="background-color: rgb(40, 126, 172)">
          <h4 class="modal-title text-white">ACCOMMODATION OWNER DETAILS FORM</h4>
  
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form><div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Full name:</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="name"/>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Contact:</label>
                <input type="text" id="form6Example2" class="form-control" [(ngModel)]="job"/>
              </div>
            </div>
          </div>
  
          <div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Address:</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="city" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">City:</label>
                <input type="text" id="form6Example2" class="form-control" [(ngModel)]="age"/>
              </div>
            </div>
          </div>
  
          <div class="row mb-4" style="margin-top: -10px">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <div class="form-group">
                  <label for="sel2">Vehicle Type:</label>
  
                  <select class="form-control" id="sel1" name="sellist1" style="height: 35px">
                    <option>Car</option>
                    <option>Bike</option>
                    <option>Moped</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Vehicle Details:</label>
                <input type="text" id="form6Example2" class="form-control" />
              </div>
            </div>
          </div>
  
         
          <div class="row mb-4" style="margin-top: 10px">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Price(per Day)::</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Short Description:</label>
                <input type="text" id="form6Example2" class="form-control" />
              </div>
            </div>
          </div>
          
          <div class="row mb-4" style="margin-top: 10px">
            
            <div class="col-lg-12 col-md-12 col-12">
              <label class="form-label" for="form6Example1">Vehicle Images(Current):</label>
              <input type="file" name="img" multiple />
              <input id="input-2" name="input2[]" type="file" class="file" data-show-upload="false"
                data-show-caption="true" multiple />
            </div>
          </div>
      
  
          </form>
        </div>
  
       
        <div class="modal-footer">
          <button type="button" class="btn btn-danger" (click)="clear()" >Cancel</button>
            <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="update()" *ngIf="isEditBtnClicked=='yes'" [disabled]="name == '' || age == '' || job == '' || city == ''" >Update</button>
            <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="submit()" *ngIf="isEditBtnClicked=='no'" [disabled]="name == '' || age == '' || job == '' || city == ''" >Submit</button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- The Modal -->
  <div class="modal" id="myModal2">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header text-center" style="background-color: rgb(40, 126, 172)">
          <h4 class="modal-title text-white">
            TIFFIN SERVICE OWNER DETAILS FORM
          </h4>
  
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form>
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">First name:</label>&nbsp;
                  <input type="text" id="form6Example1" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Last name:</label>
                  <input type="text" id="form6Example2" class="form-control" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">Contact:</label>&nbsp;
                  <input type="text" id="form6Example1" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Address:</label>
                  <input type="text" id="form6Example2" class="form-control" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">Aadhar No:</label>&nbsp;
                  <input type="text" id="form6Example1" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Pin Code:</label>
                  <input type="text" id="form6Example2" class="form-control" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: -10px">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <div class="form-group">
                    <label for="sel2">Vehicle Type:</label>
  
                    <select class="form-control" id="sel1" name="sellist1" style="height: 35px">
                      <option>Car</option>
                      <option>Bike</option>
                      <option>Moped</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Model:</label>
                  <input type="text" id="form6Example2" class="form-control" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: -20px">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">Manufacturing Year:</label>&nbsp;
                  <input type="text" id="form6Example1" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Vehicle Color</label>
                  <input type="text" id="form6Example2" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row mb-4" style="margin-top: 10px">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">Mileage:</label>&nbsp;
                  <input type="text" id="form6Example1" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Price(per Day):</label>
                  <input type="text" id="form6Example2" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row mb-4" style="margin-top: 10px">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">Extra Charges(Per Day):</label>&nbsp;
                  <input type="text" id="form6Example1" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">License No:</label>
                  <input type="text" id="form6Example2" class="form-control" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: 0px">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <div class="form-group">
                    <label for="sel2">Vehicle Start Type:</label>
  
                    <select class="form-control" id="sel1" name="sellist1" style="height: 35px">
                      <option>Self-Start</option>
                      <option>Kick-Start</option>
                    </select>
                  </div>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Brand with Model No.:</label>
                  <input type="text" id="form6Example2" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row mb-4" style="margin-top: -10px">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example1">Fuel:</label>&nbsp;
                  <input type="text" id="form6Example1" class="form-control" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="form6Example2">Engine Capacity:</label>
                  <input type="text" id="form6Example2" class="form-control" />
                </div>
              </div>
            </div>
            <div class="row mb-4" style="margin-top: 10px">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label for="commen">Short Description about Vehicle:</label>
                  <textarea class="form-control" rows="2" id="comment" required></textarea>
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <label class="form-label" for="form6Example1">Vehicle Images(Current):</label>
                <input type="file" name="img" multiple />
                <input id="input-2" name="input2[]" type="file" class="file" data-show-upload="false"
                  data-show-caption="true" multiple />
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: 10px">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="form-outline">
                  <label class="form-check-label">
                    <input class="form-check-input" type="checkbox" />
                    <p style="margin-left: 20px">
                      I agree with terms & conditions.<br />One Helmet is
                      complimentary with the bike.The security deposit is
                      refundable once we receive the bike in proper condition
                      after 48 hours.You shall need to submit one Address proof in
                      original and the copy of Driving License at the time of
                      receiving the bike.Vehicles are limited to 100kms/day &
                      2000kms/month (Exceeding Rs.5/Km). Inform us at least 30min
                      before reach that location.Monthly booking deposit Rs.200.
                      If the bike is not available We will give the alternative
                      bike with Proper condition.
                    </p>
                  </label>
                </div>
              </div>
            </div>
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>
  
  <!-- appliances Modal -->
  <!-- <div class="modal" id="appliances-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
       
        <div class="modal-header text-center" style="background-color: rgb(40, 126, 172)">
          <h4 class="modal-title text-white">
            APPLIANCES OWNER DETAILS FORM
          </h4>
  
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
  
       
        <div class="modal-body">
          <form [formGroup]="applianceForm">
            
            <div class="row mb-4">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">First name:</label>&nbsp;
                  <input type="text" id="" class="form-control" formControlName="firstName" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Last name:</label>
                  <input type="text" id="" class="form-control" formControlName="lastName" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Mobile Number:</label>&nbsp;
                  <input type="text" id="" class="form-control" formControlName="mobileNumber" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Address:</label>
                  <input type="text" id="" class="form-control" formControlName="address" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Pin Code:</label>&nbsp;
                  <input type="text" id="" class="form-control" formControlName="pinCode" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Item Name:</label>&nbsp;
                  <input type="text" id="" class="form-control" formControlName="itemName" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: -10px">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Description :</label>&nbsp;
                  <input type="" id="" class="form-control" formControlName="description" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: -20px">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="form-outline">
                  <label class="form-label mt-3" for="">Add Images :</label>&nbsp;
                  <input type="file" id="" class="form-control" (change)="onFileChange($event)"
                    formControlName="addImage" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: 10px">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Retail Price:</label>
                  <input type="text" id="" class="form-control" formControlName="rentPrice" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Rent Price:</label>
                  <input type="text" id="" class="form-control" formControlName="retailPrice" />
                </div>
              </div>
            </div>
  
          </form>
        </div>
  
        
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal" (click)="sendToApplianceSlider()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div> -->
  
  <!-- furniture Modal -->
  <div class="modal" id="furniture-modal">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <!-- Modal Header -->
        <div class="modal-header text-center" style="background-color: rgb(40, 126, 172)">
          <h4 class="modal-title text-white">
            FURNITURE OWNER DETAILS FORM
          </h4>
  
          <button type="button" class="close" data-dismiss="modal">
            &times;
          </button>
        </div>
  
        <!-- Modal body -->
        <div class="modal-body">
          <form [formGroup]="furnitureForm">
            <!-- 2 column grid layout with text inputs for the first and last names -->
            <div class="row mb-4">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">First name:</label>&nbsp;
                  <input type="text" id="" class="form-control" formControlName="firstName" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Last name:</label>
                  <input type="text" id="" class="form-control" formControlName="lastName" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Mobile Number:</label>&nbsp;
                  <input type="text" id="" class="form-control" formControlName="mobileNumber">
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Address:</label>
                  <input type="text" id="" class="form-control" formControlName="address" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Pin Code:</label>&nbsp;
                  <input type="text" id="" class="form-control" formControlName="pinCode" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Item Name:</label>&nbsp;
                  <input type="text" id="" class="form-control" formControlName="itemName" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: -10px">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Description :</label>&nbsp;
                  <input type="" id="" class="form-control" formControlName="description">
                </div>
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: -20px">
              <div class="col-lg-12 col-md-12 col-12">
                <div class="form-outline">
                  <label class="form-label mt-3" for="">Add Images :</label>&nbsp;
                  <input type="file" id="" class="form-control" (change)="onFileChange($event)"
                    formControlName="addImage" />
                </div>
              </div>
            </div>
  
            <div class="row mb-4" style="margin-top: 10px">
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Retail Price:</label>
                  <input type="text" id="" class="form-control" formControlName="retailPrice" />
                </div>
              </div>
              <div class="col-lg-6 col-md-6 col-12">
                <div class="form-outline">
                  <label class="form-label" for="">Rent Price:</label>
                  <input type="text" id="" class="form-control" formControlName="rentPrice">
                </div>
              </div>
            </div>
  
          </form>
        </div>
  
        <!-- Modal footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="sendToFurnitureSlider()">
            Submit
          </button>
        </div>
      </div>
    </div>
  </div>

