

.appliances-text-center {
  background-color: Blue;
}

.appliances-submit-btn {
  background-color: Blue;
  color: white;

  &:hover {
    background-color: Blue;
    color: white;
  }
  // media query

@media screen  and (min-width:1024px)
{
    .navbar .navbar-collapse{
      margin-left: 300px;
    }
  

    

}
}
