<div class="container-fluid" style="width: 100%;">
     <img src="../assets/image/Vehicle/banner.jpg" alt="Snow" style="height: 320px;width: 100%;">
        <div class="centered" style="margin-top: -25px;">
           <form class="form-inline" action="/action_page.php">
              <div class="form-group text-white">
                 <input type="text" class="form-control" id="text" placeholder="Enter City" name="pwd" style="width: 160px;height: 40px;">
              </div>&nbsp;
              <div class="form-group">
                 <input type="text" class="form-control" id="text" placeholder="Enter Your Address" name="pwd" style="width: 160px;height: 40px;">
              </div>&nbsp;
              <div class="form-group">
                <select class="form-control" id="sel1" name="sellist1" style="height: 40px;width: 160px;" placeholder="Vehicle Type">
                  <option>Vehicle Type</option>
                  <option>Car</option>
                  <option>Bike</option>
                  <option>Moped</option>
                </select>
              </div>&nbsp;
              <button type="submit" class="btn btn-primary btn-md" style="height: 40px;background-color: #0047AB;">Search</button>
           </form>
        </div>
</div>

<div class="container-fluid">
    <div class="row" style="margin-top: 0px;">
      <div class="col-lg-6 col-md-6 col-12">
         <img src="../assets/image/v1.webp" style="height:300px;width: 95%;" >
      </div>
    
      <div class="col-lg-6 col-md-6 col-12 text-center" style="margin-top: 45px;">
         <h2 class="text-center" style="font-size:35px ;font-family:Bold Arial;font-weight: 800;color:rgb(1, 1, 113);"><b>
           RENT AN AFFORDABLE VEHICLE</b></h2>
         <h6 class="text-center text-black"style="margin-top:25px ;font-size: 20px;">Rent vehicle for special occasions, exams, college, etc. For more information 
           about pricing of vehicles and booking you need to book a ride or get in touch with us.</h6>
      </div>
    </div>
    <div class="row" style="margin-top: 30px;">
       <b class="text-center" style="font-size: 35px;font-weight:600;color:rgb(1, 1, 113);">HOW DOES THE VEHICLE RENTAL WORKS</b>
    </div>
    <br>
    
    <div class="row" style="margin-top:25px;">
      <div class="col-lg-4 col-4">
        <div class="row">
         <div class="col-lg-3">
             <div class="test rounded-circle text-center" style="width: 80px;height: 80px;background-color: rgb(40, 126, 172)">
             <i class="fa fa-search" aria-hidden="true" style="margin-top: 23px;color:white;font-size:40px"></i>
             </div>
         </div>
      
         <div class="col-lg-9 text-black" style="margin-top: 20px">
             Once selected, Book our vehicle and set a pickup date/item.
         </div>
      </div>
      </div>
      
      <div class="col-lg-4 col-4">
        <div class="row">
         <div class="col-lg-3">
             <div class="test rounded-circle text-center" style="width: 80px;height: 80px;background-color: rgb(40, 126, 172)">
             <i class="fa fa-location-arrow" aria-hidden="true" style="margin-top: 23px;color:white;font-size:40px"></i>
             </div>
         </div>
      
         <div class="col-lg-9 text-black" style="margin-top: 20px">
             Once selected, Book our vehicle and set a pickup location.
         </div>
      </div>
      </div>
      <div class="col-lg-4 col-4">
        <div class="row">
         <div class="col-lg-3">
             <div class="test rounded-circle text-center" style="width: 80px;height: 80px;background-color: rgb(40, 126, 172)">
             <i class="fa fa-motorcycle" aria-hidden="true" style="margin-top: 23px;color:white;font-size:40px"></i>
             </div>
         </div>
      
         <div class="col-lg-9 text-black" style="margin-top: 20px">
             Once selected make the payment and start tour ride.
          </div>
      </div>
      </div>
      
      <br>
      <br>

      <div class="row" style="margin-top: 70px;">
        <b class="text-center" style="font-size: 30px;font-family:poppins;color:rgb(1, 1, 113);">WHAT KIND OF VEHICLE YOU WANT</b>
        <p class="text-center" style="font-size: 20px;margin-top: 10px;">GREAT RENTAL VEHICLES FOR YOU</p>
      </div>
    
      <div class="row" style="margin-top:10px">
        <h1 class="text-center">
            <button type="button" class="btn btn-warning btn-arrow-right btn-lg" style="width:100px ;background-color:rgb(40, 126, 172) ;color:white;background-color: #0047AB;">BIKES</button>&nbsp;
            <button type="button" class="btn btn-dark btn-arrow-right btn-lg" style="width:100px ;">CARS</button>&nbsp;
            <button type="button" class="btn btn-warning btn-arrow-right btn-lg" style="width:120px ;background-color:rgb(40, 126, 172) ;color:white;background-color: #0047AB;">SCOOTIES</button>
          </h1>
      </div>

      <section class="pt-5 pb-5" style="margin-top: 0px">
        <div class="container-fluid">
            <div class="row">
                <div class="col-6">
                    
                </div>
                <div class="col-6 text-right">
                    <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev" style="border-radius:40px ;width:40px;height:40px;background-color: #0047AB;">
                        <i class="fa fa-arrow-left" style="font-size: 15px;margin-left:-7px"></i>
                    </a>
                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next" style="border-radius:40px ;width:40px;height:40px;background-color: #0047AB;">
                        <i class="fa fa-arrow-right" style="font-size: 15px;margin-left:-7px"></i>
                    </a> 
                </div>
                <div class="col-12" style="margin-top: -30px;">
                    <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
        
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
        
                                  <div class="col-lg-3 col-md-6 mb-3" *ngFor="let user of userList;let idx=index">
                                    <div class="card" style="background-color: whitesmoke;border-radius: 8px;">
                                        <img class="img-fluid text-center" alt="100%x280" [src]="getImageUrl()" style="height:150px;width: 100%;border-radius: 8px;"> 
                                        <div class="card-body text-center">
                                            <div class="row">
                                                <div class="col-lg-6 col-md-6 col-6">
                                                  <h5 class="text-black" style="font-size: 16px;margin-top:3px">{{user.vmodel}}</h5>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-6 text-black">
                                                    <button class="button" style="border-radius:20px ;border: 1px dashed blue;padding-left: 10px;padding-right: 10px;">{{user.vtype}}</button>
                                                </div>
                                            </div>

                                            <div class="row">
                                                
                                                <div class="col-lg-6 col-md-6 col-6">
                                                  <h6 class="text-black" style="font-size: 15px">{{user.vcity}}</h6>
                                                </div>
                                                
                                                <div class="col-lg-6 col-md-6 col-6">
                                                  <h6 class="text-black" style="font-size: 15px">{{user.dtype}}</h6>
                                                </div>
                                               
                                            </div>

                                            <div class="row">
                                                
                                                <div class="col-lg-6 col-md-6 col-6">
                                                  <h6 class="text-black" style="font-size: 15px">{{user.vdetails}}</h6>
                                                </div>
                                                <div class="col-lg-6 col-md-6 col-6" style="margin-top: 0px;">
                                                  <h6 class="text-black" style="font-size:12px;"><b style="font-size: 13px;">{{user.vprice}}</b> / day</h6>
                                                </div>
                                            </div>
                                            
                                            <div class="row" style="border-top: 1px solid gray;">
                                    
                                               
                                                
                                                <div class="col-lg-5 col-md-5 col-5" style="margin-top: 15px;">
                                                    <button class="col btn btn-orange-moon text-center text-white" routerLink="/cart" data-toggle="modal" data-target="#myModal" style="background-color: rgb(40, 126, 172) ;margin-left: -10px;border-radius:5px;margin-top: -4px;background-color: #0047AB;">
                                                      <b style="margin-left: -10px">RENT NOW</b></button>
                                                </div>
                                                <div class="col-lg-7 col-md-7 col-7" style="margin-top: 5px;">
                                                  <div class="col-lg-5 col-md-5 col-5">
                                                      <button type="button" class="btn btn-warning" style="background-color: orange;">
                                                        <i class="fa fa-pencil" aria-hidden="true" data-bs-toggle="modal" data-bs-target="#myModal" (click)="edit(idx)"></i>
                                                      </button>&nbsp;
                                                </div>
                                                <div class="col-lg-5 col-md-5 col-5">
                                                      <button type="button" class="btn btn-danger" style="background-color: tomato;">
                                                        <i class="fa fa-trash-o" aria-hidden="true" (click)="delete(idx)"></i>
                                                      </button>
                                                </div>
                                                </div>
                                               
                                            </div>
                                        </div>
    
                                    </div>
                                </div>
                               
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </div>
                                   </section>



          <div class="row" style="margin-top: -70px">
  
            <!-- Grid column -->
            <div class="col-md-12 d-flex justify-content-center mb-5">
          
              
              <button type="button" class="btn btn-outline-black waves-effect filter" data-rel="1" style="font-size:35px ;font-weight: 600;color:rgb(1, 1, 113);">BEST PRODUCT</button>
              
            </div>
            <!-- Grid column -->
          
          </div>
          <!-- Grid row -->
          
          <!-- Grid row -->
          <div class="gallery" id="gallery" style="margin-top:-10px">
          
            <!-- Grid column -->
            <div class="mb-3 pics animation all 2">
              <img class="img-fluid" src="../assets/image/Vehicle/sc1.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
            </div>
            <!-- Grid column -->
          
            <!-- Grid column -->
            <div class="mb-3 pics animation all 1">
              <img class="img-fluid" src="../assets/image/Vehicle/v4.webp" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
            </div>
            <!-- Grid column -->
          
            <!-- Grid column -->
            <div class="mb-3 pics animation all 1">
              <img class="img-fluid" src="../assets/image/Vehicle/v3.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
            </div>
            <!-- Grid column -->
          
            <!-- Grid column -->
            <div class="mb-3 pics animation all 2">
              <img class="img-fluid" src="../assets/image/Vehicle/v2.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
            </div>
            <!-- Grid column -->
          
            <!-- Grid column -->
            <div class="mb-3 pics animation all 2">
              <img class="img-fluid" src="../assets/image/Vehicle/v1.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
            </div>
            <!-- Grid column -->
          
            <!-- Grid column -->
            <div class="mb-3 pics animation all 2">
              <img class="img-fluid" src="../assets/image/Vehicle/vehicle3.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
            </div>
            <!-- Grid column -->
        
            <!-- Grid column -->
            <div class="mb-3 pics animation all 2">
                <img class="img-fluid" src="../assets/image/Vehicle/s1.webp" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
              </div>
              <!-- Grid column -->
            
              <!-- Grid column -->
              <div class="mb-3 pics animation all 2">
                <img class="img-fluid" src="../assets/image/Vehicle/vehicle4.jpg" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
              </div>
              <!-- Grid column -->
            
              <!-- Grid column -->
              <div class="mb-3 pics animation all 1">
                <img class="img-fluid" src="../assets/image/Vehicle/scooty1.webp" alt="Card image cap" style="height: 180px;width:400px;border-radius: 7px;">
              </div>
              <!-- Grid column -->
          
          </div>
          <!-- Grid row -->
        </div>
      
        
</div> 
<!-- end tag -->

<!-- The Vehicle Modal  -->
<div class="modal" id="myModal1">
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
     
      <div class="modal-header text-center" style="background-color: white">
        <h4 class="modal-title text-black">VEHICLE OWNER DETAILS FORM</h4>

        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>

      
      <div class="modal-body">
          <div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Full Name:</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control"/>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Email:</label>
                <input type="text" id="form6Example2" class="form-control"/>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Contact No.:</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Address:</label>
                <input type="text" id="form6Example2" class="form-control"/>
              </div>
            </div>
          </div>

          <div class="row mb-4">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">City:</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vcity"/>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label for="sel2">Driving Type:</label>

                  <select class="form-control" id="sel1" name="sellist1" style="height: 35px" [(ngModel)]="dtype">
                    <option>Select</option>
                    <option>Self</option>
                    <option>Driver</option>
                  </select>
              </div>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: 0px">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <div class="form-group">
                  <label for="sel2">Vehicle Type:</label>

                  <select class="form-control" id="sel1" name="sellist1" style="height: 35px" [(ngModel)]="vtype">
                    <option>Select</option>
                    <option>Car</option>
                    <option>Bike</option>
                    <option>Moped</option>
                    <option>E-vehicle</option>
                  </select>
                </div>
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Vehicle Model:</label>
                <input type="text" id="form6Example2" class="form-control" [(ngModel)]="vmodel"/>
              </div>
            </div>
          </div>

          <div class="row mb-4" style="margin-top: -8px">
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example1">Price(per Day):</label>&nbsp;
                <input type="text" id="form6Example1" class="form-control" [(ngModel)]="vprice" />
              </div>
            </div>
            <div class="col-lg-6 col-md-6 col-12">
              <div class="form-outline">
                <label class="form-label" for="form6Example2">Vehicle Details:</label>
                <input type="text" id="form6Example2" class="form-control" [(ngModel)]="vdetails"/>
              </div>
            </div>
          </div>

          <div class="row" style="margin-top: -15px">
            <div class="col-lg-12 col-md-12 col-12">
              <form action="/action_page_inputtags_multiplefiles.php">
                <label for="formFileMultiple" class="form-label">Vehicle Current Images(Pdf Format):</label>
                <input type="file" (change)="onFileSelected($event)">
                
              </form>
            </div>
          </div>
          <script>
           
            $(".custom-file-input").on("change", function() {
              var fileName = $(this).val().split("\\").pop();
              $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
            });
            </script>

          <div class="modal-footer justify-content-end" style="margin-top: 5px">
              <button type="button" class="btn btn-danger" (click)="clear()">Cancel</button>
              <button type="button" class="btn btn-warning" data-bs-dismiss="modal" (click)="update()" *ngIf="isEditBtnClicked=='yes'" [disabled]="vtype == '' || vmodel == '' || dtype == '' || vcity == '' || vprice == '' || vdetails == '' " >Update</button>
              <button type="button" class="btn btn-success" data-bs-dismiss="modal" (click)="submit()" *ngIf="isEditBtnClicked=='no'" [disabled]="vtype == '' || vmodel == '' || dtype == '' || vcity == '' || vprice == '' || vdetails == '' ">Submit</button>
          </div>
     
      
    </div>
  </div>
  </div>
  

