<div class="container-fluid">
  <!-- <div class="row">
     <div class="col-lg-6">
        <div class="col-lg-4 col-md-6 col-6 text-center"></div>
        <div class="col-lg-4 col-md-12 col-12">
          <a routerLink="/Accomodation">
          <img src="../assets/image/Tiffin/homelogo2.png" alt="Los Angeles" class="d-block" style="width: 110px; height: 35px;padding-bottom: 7px;"/>
           </a>
          <a class="text-center" routerLink="/Accomodation" style="color: black;font-weight: 500;">
                  Accommodation
             </a>

        </div> 
        <div class="col-lg-4 col-md-12 col-12">
          <a routerLink="/tiffin">
          <img src="../assets/image/Homepage/tif.webp" alt="Los Angeles" class="d-block" style="width:110px; height: 35px;padding-bottom: 7px;"/>
          </a>
          <a class="text-center" routerLink="/tiffin" style="color: black;font-weight: 500;">Tiffin / Mess</a>
        </div>
      </div>
      <div class="col-lg-6" style="margin-left: -20px;">
        <div class="col-lg-4 col-md-12">
          <a routerLink="/vehicle">
          <img src="../assets/image/Tiffin/bikesticker.jpg" alt="Los Angeles" class="d-block"
          style="width: 110px; height: 50px;margin-top: -15px;padding-bottom: 7px;"/>
          </a>
             <a class="text-center" routerLink="/vehicle" style="margin-top: 5px;color: black;font-weight: 500;margin-left: 30px;">Vehicle</a>
        </div>
        <div class="col-lg-4 col-md-12 col-12">
          <a routerLink="/Appliances">
          <img src="../assets/image/appliances/a2.webp" alt="Los Angeles" class="d-block"
          style="width: 110px; height: 45px;padding-bottom: 7px;margin-top: -12px;"/>
          </a>
            <a class="text-center" routerLink="/Appliances" style="color: black;font-size: 15px;
            font-weight: 500;margin-left:17px;">Appliances</a>
        </div>
        <div class="col-lg-4 col-md-4 col-4 text-center"></div>
        
      </div>

    </div>  -->

    <div class="row" style="margin-top: 5px;">
      <div class="col">
        <!-- Carousel -->
        <div id="demo" class="carousel slide" data-bs-ride="carousel">
          <!-- Indicators/dots -->
          <div class="carousel-indicators" >
            <button
              type="button"
              style="background-color: gray"
              data-bs-target="#demo"
              data-bs-slide-to="0"
              class="active"
            ></button>
            <button
              type="button"
              style="background-color: gray"
              data-bs-target="#demo"
              data-bs-slide-to="1"
            ></button>
            <button
              type="button"
              style="background-color: gray"
              data-bs-target="#demo"
              data-bs-slide-to="2"
            ></button>
            <button
              type="button"
              style="background-color: gray"
              data-bs-target="#demo"
              data-bs-slide-to="3"
            ></button>
          </div>

          <!-- The slideshow/carousel -->
          <div class="carousel-inner">
            <div class="carousel-item active">
              <div class="row">
                <div class="col">
                  <img
                    src="../assets/image/Homepage/1.jpg"
                    alt="Los Angeles"
                    class="d-block"
                    style="width: 100%; height: 400px"
                  />
                </div>

                <h2
                  style="
                    font-size: 20pt;
                    margin-top: 25px;
                    padding-bottom: 55px;
                    text-align: center;
                    font-style: italic;
                    font-family: 'Lucida Sans Unicode', 'Lucida Grande',
                      'Lucida Sans', Arial, sans-serif;
                  "
                >
                  FIND YOUR NEXT HOME...
                  
                  
                  <!-- <button
                    type="button"
                    class="btn btn-outline-Success"
                    routerLink="Accomodation"
                    style="
                      border-radius: 25px;
                      font-size: 20pt;
                      border-color: gray;
                      border-width: 1px;
                    "
                  >
                    Explore Now
                  </button> -->
                </h2>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col">
                  <img
                    src="../assets/image/Tiffin/t1.jpg"
                    alt="Chicago"
                    class="d-block"
                    style="width: 100%;height: 400px"
                  />
                </div>

                <h2
                  style="
                    font-size: 20pt;
                    margin-top: 25px;
                    padding-bottom: 55px;
                    text-align: center;
                    font-style: italic;
                    font-family: 'Lucida Sans Unicode', 'Lucida Grande',
                      'Lucida Sans', Arial, sans-serif;
                  "
                >
                  FIND YOUR DELICIOUS FOOD
                  
                  <!-- <button
                    type="button"
                    class="btn btn-outline-Success"
                    routerLink="tiffin"
                    style="
                      border-radius: 25px;
                      font-size: 20pt;
                      border-color: gray;
                      border-width: 1px;
                    "
                  >
                    Explore Now
                  </button> -->
                </h2>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col">
                  <img
                    src="../assets/image/Vehicle/c4.jpg"
                    alt="New York"
                    class="d-block"
                    style="width: 100%;height: 400px"
                  />
                </div>

                <h2
                  style="
                    font-size: 20pt;
                    margin-top: 25px;
                    padding-bottom: 55px;
                    text-align: center;
                    font-style: italic;
                    font-family: 'Lucida Sans Unicode', 'Lucida Grande',
                      'Lucida Sans', Arial, sans-serif;
                  "
                >
                  FIND YOUR PRIVATE VEHICLE
                  
                  <!-- <button
                    type="button"
                    class="btn btn-outline-Success"
                    routerLink="vehicle"
                    style="
                      border-radius: 25px;
                      font-size: 20pt;
                      border-color: gray;
                      border-width: 1px;
                    "
                  >
                    Explore Now
                  </button> -->
                </h2>
              </div>
            </div>
            <div class="carousel-item">
              <div class="row">
                <div class="col">
                  <img
                    src="../assets/image/appliances/a1.webp"
                    alt="New York"
                    class="d-block"
                    style="width: 100%; height:400px"
                  />
                </div>

                <h2
                  style="
                    font-size: 20pt;
                    margin-top: 25px;
                    padding-bottom: 55px;
                    text-align: center;
                    font-style: italic;
                    font-family: 'Lucida Sans Unicode', 'Lucida Grande',
                      'Lucida Sans', Arial, sans-serif;
                  "
                >
                  FIND YOUR Personal Equipment!
                 
                  <!-- <button
                    type="button"
                    class="btn btn-outline-Success"
                    routerLink="vehicle"
                    style="
                      border-radius: 25px;
                      font-size: 20pt;
                      border-color: gray;
                      border-width: 1px;
                    "
                  >
                    Explore Now
                  </button> -->
                </h2>
              </div>
            </div>
          </div>
        </div>
   <!-- Left and right controls/icons -->
   <button
   class="carousel-control-prev"
   type="button"
   data-bs-target="#demo"
   data-bs-slide="prev"
 >
   <span class="carousel-control-prev-icon" style="margin-top:-130px ;"></span>
 </button>
 <button
   class="carousel-control-next"
   type="button"
   data-bs-target="#demo"
   data-bs-slide="next"
 >
   <span class="carousel-control-next-icon" style="margin-top:-130px ;"></span>
 </button>
</div>
</div>

<div class="row" style="margin-top: -10px;">
<b class="text-center" style="font-size: 35px;font-weight:600;color:rgb(1, 1, 113);">OUR SERVICES</b>
</div>

<section class="pt-5 pb-5">
  
      <div class="row">
          
          <div class="col-12">
            <div class="row">

                              <div class="col-md-3 mb-3">
                                  <div class="card">
                                     
                                      <div class="card-body">
                                        <div class="row">
                                          <div class="col-lg-6 col-6">
                                            <img class="img-fluid" alt="100%x280" src="../assets/image/room/r3.webp" style="height: 85px;">
                                          </div>
                                          <div class="col-lg-6 col-6">
                                            <img class="img-fluid" alt="100%x280" src="../assets/image/room/r5.webp" style="height: 85px;">
                                          </div>
                                        </div>
                                        <br>
                                        <div class="row">
                                          <div class="col-lg-6 col-6">
                                            <img class="img-fluid" alt="100%x280" src="../assets/image/room/r4.webp" style="height: 85px;">
                                          </div>
                                          <div class="col-lg-6 col-6">
                                            <img class="img-fluid" alt="100%x280" src="../assets/image/room/room5.webp" style="height: 85px;">
                                          </div>
                                        </div>
                                          <h4 class="card-title text-center" style="margin-top:20px"><b>Accommodation Service</b></h4>
                                         </div>
                                      <button type="submit" class="btn btn-block" routerLink="/Accomodation" style="background-color:rgb(1, 1, 113);color:white" >EXPLORE ALL</button>

                                  </div>
                              </div>
                              
                              <div class="col-md-3 mb-3">
                                <div class="card">
                                   
                                    <div class="card-body">
                                      <div class="row">
                                        <div class="col-lg-6 col-6">
                                          <img class="img-fluid" alt="100%x280" src="assets/image/Tiffin/tif2.jpg" style="height: 85px;">
                                        </div>
                                        <div class="col-lg-6 col-6">
                                          <img class="img-fluid" alt="100%x280"style="height: 85px;"  src="assets/image/Tiffin/guju_dish.jpeg">
                                        </div>
                                      </div>
                                      <br>
                                      <div class="row">
                                        <div class="col-lg-6 col-6">
                                          <img class="img-fluid" alt="100%x280" style="height: 85px;" src="assets/image/Tiffin/maha_dish.webp">
                                        </div>
                                        <div class="col-lg-6 col-6">
                                          <img class="img-fluid" alt="100%x280" style="height: 85px;" src="assets/image/Tiffin/t1.jpg">
                                        </div>
                                      </div>
                                        <h4 class="card-title text-center" style="margin-top:20px"><b>Tiffin Service</b></h4>
                                       </div>
                                    <button type="submit" class="btn btn-block" routerLink="/tiffin" style="background-color:rgb(1, 1, 113);color:white" >EXPLORE ALL</button>

                                </div>
                            </div>

                            <div class="col-md-3 mb-3">
                              <div class="card">
                                 
                                  <div class="card-body">
                                    <div class="row">
                                      <div class="col-lg-6 col-6">
                                        <img class="img-fluid" alt="100%x280" src="assets/image/Vehicle/s1.webp" style="height: 85px;">
                                      </div>
                                      <div class="col-lg-6 col-6">
                                        <img class="img-fluid" alt="100%x280" src="assets/image/Vehicle/v3.jpg" style="height: 85px;">
                                      </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                      <div class="col-lg-6 col-6">
                                        <img class="img-fluid" alt="100%x280" src="assets/image/Vehicle/c3.jpg" style="height: 85px;">
                                      </div>
                                      <div class="col-lg-6 col-6">
                                        <img class="img-fluid" alt="100%x280" src="assets/image/Vehicle/v1.jpg" style="height: 85px;">
                                      </div>
                                    </div>
                                      <h4 class="card-title text-center" style="margin-top:20px"><b>Vehicle Service</b></h4>
                                     </div>
                                  <button type="submit" class="btn btn-block" routerLink="/vehicle" style="background-color:rgb(1, 1, 113);color:white" >EXPLORE ALL</button>

                              </div>
                          </div>

                          <div class="col-md-3 mb-3">
                            <div class="card">
                               
                                <div class="card-body">
                                  <div class="row">
                                    <div class="col-lg-6 col-6">
                                      <img class="img-fluid" alt="100%x280" src="assets/image/appliances/a2.webp" style="height: 85px;">
                                    </div>
                                    <div class="col-lg-6 col-6">
                                      <img class="img-fluid" alt="100%x280" src="assets/image/appliances/a3.webp" style="height: 85px;">
                                    </div>
                                  </div>
                                  <br>
                                  <div class="row">
                                    <div class="col-lg-6 col-6">
                                      <img class="img-fluid" alt="100%x280" src="assets/image/appliances/a1.webp" style="height: 85px;">
                                    </div>
                                    <div class="col-lg-6 col-6">
                                      <img class="img-fluid" alt="100%x280" src="assets/image/appliances/a4.webp" style="height: 85px;">
                                    </div>
                                  </div>
                                    <h4 class="card-title text-center" style="margin-top:20px"><b>Appliances Service</b></h4>
                                   </div>
                                <button type="submit" class="btn btn-block" routerLink="/Appliances" style="background-color:rgb(1, 1, 113);color:white" >EXPLORE ALL</button>

                            </div>
                        </div>
                       </div>
                      </div>
                      <br>
                      
</div>
</section>
<div class="row text-center" style="margin-top: 20px">
  <div class="col-lg-12 col-md-12 col-12">
      <img style="height: 320px;width: 100%;" src="..\assets\image\addbanner.png"/>
  </div>
</div>
<br>

<section class="pt-5 pb-5">
                        
  <div class="row">
      <div class="col-9 text-start">
          <!-- <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators2" role="button" data-slide="prev" style="background-color:rgb(1, 1, 113);">
              <i class="fa fa-arrow-left"></i>
          </a>
          <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators2" role="button" data-slide="next" style="background-color:rgb(1, 1, 113);">
              <i class="fa fa-arrow-right"></i>
          </a> -->
      </div>
      <div class="col-lg-9">
          <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">

              <div class="carousel-inner">
                  <div class="carousel-item active">
                      <div class="row">

                        <div class="col-md-4 mb-3">
                          <div class="card" style="height: 280px;">
                              <img class="img-fluid" alt="100%x280" src="../assets/image/room/r1.webp" style="height: 170px;">
                              <div class="card-body text-center">
                                  <h4 class="card-title"><b>Single Room</b></h4>
                                  <p class="card-text" style="margin-top: 20px;">₹4,500</p>

                              </div>

                          </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <div class="card" style="height: 280px;">
                            <img class="img-fluid" alt="100%x280" src="../assets/image/room/r2.jpg" style="height: 170px;">
                            <div class="card-body text-center">
                                <h4 class="card-title"><b>Two Room</b></h4>
                                <p class="card-text" style="margin-top: 20px;">₹3,975</p>

                            </div>

                        </div>
                    </div>
                    <div class="col-md-4 mb-3">
                      <div class="card" style="height: 280px;">
                          <img class="img-fluid" alt="100%x280" src="../assets/image/room/r3.webp" style="height: 170px;">
                          <div class="card-body text-center">
                            <h4 class="card-title"><b>1BHK Flat</b></h4>
                            <p class="card-text" style="margin-top: 20px;">₹1,975</p>

                        </div>
                      </div>
                  </div>

                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row">
                            <div class="col-md-4 mb-3">
                              <div class="card" style="height: 280px;">
                                <img class="img-fluid" alt="100%x280" src="../assets/image/room/r4.webp" style="height: 170px;">
                                <div class="card-body text-center">
                                  <h4 class="card-title"><b>2BHK Flat</b></h4>
                                  <p class="card-text" style="margin-top: 20px;">₹3,975</p>

                                  </div>

                              </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card" style="height: 280px;">
                              <img class="img-fluid" alt="100%x280" src="../assets/image/room/r5.webp" style="height: 170px;">
                              <div class="card-body text-center">
                                <h4 class="card-title"><b>3BHK Flat</b></h4>
                                <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                  </div>
                              </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card" style="height: 280px;">
                              <img class="img-fluid" alt="100%x280" src="../assets/image/room/r6.webp" style="height: 170px;">
                              <div class="card-body text-center">
                                <h4 class="card-title"><b>Family House</b></h4>
                                <p class="card-text" style="margin-top: 20px;">₹3,975</p>

                                    </div>
                                  </div>
                              </div>

                          </div>
                      </div>
                      <div class="carousel-item">
                          <div class="row">

                              <div class="col-md-4 mb-3">
                                <div class="card" style="height: 280px;">
                                  <img class="img-fluid" alt="100%x280" src="../assets/image/room/Room1.jpg" style="height: 170px;">
                                  <div class="card-body text-center">
                                    <h4 class="card-title"><b>Sharing Room</b></h4>
                                    <p class="card-text" style="margin-top: 20px;">₹3,975</p>

                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <div class="card" style="height: 280px;">
                                  <img class="img-fluid" alt="100%x280" src="../assets/image/room/room2.jpg" style="height: 170px;">
                                  <div class="card-body text-center">
                                    <h4 class="card-title"><b>Double Room</b></h4>
                                    <p class="card-text" style="margin-top: 20px;">₹5,975</p>

                                      </div>
                                    </div>
                                  </div>
                                  <div class="col-md-4 mb-3">
                                    <div class="card" style="height: 280px;">
                                      <img class="img-fluid" alt="100%x280" src="../assets/image/room/room3.webp" style="height: 170px;">
                                      <div class="card-body text-center">
                                        <h4 class="card-title"><b>4BHK Flat</b></h4>
                                        <p class="card-text" style="margin-top: 20px;">₹1,975</p>

                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
              <div class="col-md-3 mb-3">
                <div class="card" style="height: 280px;background-color: grey;"> 
                    
                    <div class="card-body text-center text-white">
                      <h2 class="card-title" style="margin-top: 70px;font-size: 25px;"><b>Accommodation</b></h2>
                      <p class="card-text">For more click on view all</p>
                      <button type="submit" class="btn btn-lg" routerLink="/Accomodation" style="background-color:rgb(1, 1, 113);color:white" >VIEW ALL</button>
                  </div>
                </div>
          </div>
        </div>
        </section>
    
       <br>
       <div class="row text-center" style="margin-top: 20px">
          <img style="height: 300px;width: 100%;" src="..\assets\image\tif_1.jpg"/>
       </div>
       <br>

       <section class="pt-5 pb-5">
        
            <div class="row">
                <div class="col-9 text-start">
                    <!-- <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators3" role="button" data-slide="prev" style="background-color:rgb(1, 1, 113);">
                        <i class="fa fa-arrow-left"></i>
                    </a>
                    <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators3" role="button" data-slide="next" style="background-color:rgb(1, 1, 113);">
                        <i class="fa fa-arrow-right"></i>
                    </a> -->
                </div>
                <div class="col-lg-9">
                    <div id="carouselExampleIndicators3" class="carousel slide" data-ride="carousel">
    
                        <div class="carousel-inner">
                            <div class="carousel-item active">
                                <div class="row">
    
                                  <div class="col-md-4 mb-3">
                                    <div class="card" style="height: 280px;">
                                        <img class="img-fluid" alt="100%x280" src="../assets/image/Tiffin/tif2.jpg" style="height: 170px;">
                                        <div class="card-body text-center">
                                            <h4 class="card-title"><b>Veg Thali</b></h4>
                                            <p class="card-text" style="margin-top: 20px;">₹1,975</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <div class="card" style="height: 280px;">
                                      <img class="img-fluid" alt="100%x280" src="../assets/image/Tiffin/jain_dish.webp" style="height: 170px;">
                                      <div class="card-body text-center">
                                          <h4 class="card-title"><b>Jain Dish</b></h4>
                                          <p class="card-text" style="margin-top: 20px;">₹2,500</p>

                                      </div>

                                  </div>
                              </div>
                              <div class="col-md-4 mb-3">
                                <div class="card" style="height: 280px;">
                                    <img class="img-fluid" alt="100%x280" src="assets/image/Tiffin/raj.jpg" style="height: 170px;">
                                    <div class="card-body text-center">
                                      <h4 class="card-title"><b>Rajasthani Thali</b></h4>
                                      <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                  </div>
                                </div>
                            </div>
        
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
                                      <div class="col-md-4 mb-3">
                                        <div class="card" style="height: 280px;">
                                          <img class="img-fluid" alt="100%x280" src="assets/image/Tiffin/maha_dish.webp" style="height: 170px;">
                                          <div class="card-body text-center">
                                            <h4 class="card-title"><b>Veg + Non-veg Thali</b></h4>
                                            <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                            </div>
    
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                      <div class="card" style="height: 280px;">
                                        <img class="img-fluid" alt="100%x280" src="assets/image/Tiffin/kas.jpeg" style="height: 170px;">
                                        <div class="card-body text-center">
                                          <h4 class="card-title"><b>Non-veg Special</b></h4>
                                          <p class="card-text" style="margin-top: 20px;">₹3,975</p>

                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                      <div class="card" style="height: 280px;">
                                        <img class="img-fluid" alt="100%x280" src="assets/image/Tiffin/punj.jpg" style="height: 170px;">
                                        <div class="card-body text-center">
                                          <h4 class="card-title"><b>Gujrati Thali</b></h4>
                                          <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                              </div>
                                            </div>
                                        </div>
        
                                    </div>
                                </div>
                                <div class="carousel-item">
                                    <div class="row">
        
                                        <div class="col-md-4 mb-3">
                                          <div class="card" style="height: 280px;">
                                            <img class="img-fluid" alt="100%x280" src="assets/image/Tiffin/raj2.jfif" style="height: 170px;">
                                            <div class="card-body text-center">
                                              <h4 class="card-title"><b>Marvadi Thali</b></h4>
                                              <p class="card-text" style="margin-top: 20px;">₹2,975</p>
  
                                                </div>
        
                                            </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                          <div class="card" style="height: 280px;">
                                            <img class="img-fluid" alt="100%x280" src="assets/image/Tiffin/beng.jpg" style="height: 170px;">
                                            <div class="card-body text-center">
                                              <h4 class="card-title"><b>Punjabi Dish</b></h4>
                                              <p class="card-text" style="margin-top: 20px;">₹2,975</p>
  
                                                </div>
                                              </div>
                                            </div>
                                            <div class="col-md-4 mb-3">
                                              <div class="card" style="height: 280px;">
                                                <img class="img-fluid" alt="100%x280" src="assets/image/Tiffin/guju_dish.jpeg" style="height: 170px;">
                                                <div class="card-body text-center">
                                                  <h4 class="card-title"><b>Maharashtrian Thali</b></h4>
                                                  <p class="card-text" style="margin-top: 20px;">₹3,975</p>
      
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3 mb-3">
                          <div class="card" style="height: 280px;background-color:grey;"> 
                              
                              <div class="card-body text-center text-white">
                                <h2 class="card-title" style="margin-top: 70px;font-size: 25px;"><b>Tiffin / Mess</b></h2>
                                <p class="card-text">For more click on view all</p>
                                <button type="submit" class="btn btn-lg" routerLink="/tiffin" style="background-color:rgb(1, 1, 113);color:white" >VIEW ALL</button>
                            </div>
                          </div>
                    </div>
                  </div>
                
            </section>


    <div class="row text-center" style="margin-top: 20px">
      <div class="col-lg-12 col-md-12 col-12">
          <img style="height: 300px;width: 100%;" src="..\assets\image\Homepage/bannervehicle.jpg"/>
      </div>
  </div>
  <br>
  <section class="pt-5 pb-5">
    
        <div class="row">
            <div class="col-9 text-left">
                <!-- <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators4" role="button" data-slide="prev" style="background-color:rgb(1, 1, 113);">
                    <i class="fa fa-arrow-left"></i>
                </a>
                <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators4" role="button" data-slide="next" style="background-color:rgb(1, 1, 113);">
                    <i class="fa fa-arrow-right"></i>
                </a> -->
            </div>
            <div class="col-lg-9">
                <div id="carouselExampleIndicators4" class="carousel slide" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="row">

                              <div class="col-md-4 mb-3">
                                <div class="card" style="height: 280px;">
                                    <img class="img-fluid" alt="100%x280" src="../assets/image/Vehicle/scooty1.webp" style="height: 170px;">
                                    <div class="card-body text-center">
                                        <h4 class="card-title"><b>Activa</b></h4>
                                        <p class="card-text" style="margin-top: 20px;">₹1,975</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="card" style="height: 280px;">
                                  <img class="img-fluid" alt="100%x280" src="../assets/image/Vehicle/v2.jpg" style="height: 170px;">
                                  <div class="card-body text-center">
                                      <h4 class="card-title"><b>Bike</b></h4>
                                      <p class="card-text" style="margin-top: 20px;">₹2,500</p>

                                  </div>

                              </div>
                          </div>
                          <div class="col-md-4 mb-3">
                            <div class="card" style="height: 280px;">
                                <img class="img-fluid" alt="100%x280" src="../assets/image/Vehicle/c3.jpg" style="height: 170px;">
                                <div class="card-body text-center">
                                  <h4 class="card-title"><b>Car</b></h4>
                                  <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                              </div>
                            </div>
                        </div>
    
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
                                  <div class="col-md-4 mb-3">
                                    <div class="card" style="height: 280px;">
                                      <img class="img-fluid" alt="100%x280" src="../assets/image/Vehicle/a1.jpg" style="height: 170px;">
                                      <div class="card-body text-center">
                                        <h4 class="card-title"><b>Mestro</b></h4>
                                        <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <div class="card" style="height: 280px;">
                                    <img class="img-fluid" alt="100%x280" src="assets/image/Vehicle/a2.jpg" style="height: 170px;">
                                    <div class="card-body text-center">
                                      <h4 class="card-title"><b>Bike</b></h4>
                                      <p class="card-text" style="margin-top: 20px;">₹3,975</p>

                                        </div>
                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <div class="card" style="height: 280px;">
                                    <img class="img-fluid" alt="100%x280" src="assets/image/Vehicle/a3.webp" style="height: 170px;">
                                    <div class="card-body text-center">
                                      <h4 class="card-title"><b>Scooty</b></h4>
                                      <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                          </div>
                                        </div>
                                    </div>
    
                                </div>
                            </div>
                            <div class="carousel-item">
                                <div class="row">
    
                                    <div class="col-md-4 mb-3">
                                      <div class="card" style="height: 280px;">
                                        <img class="img-fluid" alt="100%x280" src="../assets/image/Vehicle/c4.jpg" style="height: 170px;">
                                        <div class="card-body text-center">
                                          <h4 class="card-title"><b>Lamborgini</b></h4>
                                          <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                            </div>
    
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                      <div class="card" style="height: 280px;">
                                        <img class="img-fluid" alt="100%x280" src="../assets/image/Vehicle/scooty1.webp" style="height: 170px;">
                                        <div class="card-body text-center">
                                          <h4 class="card-title"><b>Scooty Activa</b></h4>
                                          <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                            </div>
                                          </div>
                                        </div>
                                        <div class="col-md-4 mb-3">
                                          <div class="card" style="height: 280px;">
                                            <img class="img-fluid" alt="100%x280" src="../assets/image/Vehicle/c5.webp" style="height: 170px;">
                                            <div class="card-body text-center">
                                              <h4 class="card-title"><b>Car</b></h4>
                                              <p class="card-text" style="margin-top: 20px;">₹3,975</p>
  
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 mb-3">
                      <div class="card" style="height: 280px;background-color:grey;"> 
                          
                          <div class="card-body text-center text-white">
                            <h2 class="card-title" style="margin-top: 70px;font-size: 25px;"><b>Vehicle</b></h2>
                            <p class="card-text">For more click on view all</p>
                            <button type="submit" class="btn btn-lg" routerLink="/vehicle" style="background-color:rgb(1, 1, 113);color:white" >VIEW ALL</button>
                        </div>
                      </div>
                </div>
              </div>
            
        </section>

<br>
<div class="row text-center" style="margin-top: 20px">
  <div class="col-lg-12 col-md-12 col-12">
      <img style="height: 300px;width: 100%;" src="..\assets\image\Homepage/bannerappliances.png"/>
  </div>
</div>
<br>

<section class="pt-5 pb-5">

    <div class="row">
        <!-- <div class="col-9 text-left"> 
            <a class="btn btn-primary mb-3 mr-1" href="#carouselExampleIndicators" role="button" data-slide="prev" style="background-color:rgb(1, 1, 113);">
                <i class="fa fa-arrow-left"></i>
            </a>
            <a class="btn btn-primary mb-3 " href="#carouselExampleIndicators" role="button" data-slide="next" style="background-color:rgb(1, 1, 113);">
                <i class="fa fa-arrow-right"></i>
            </a>
        </div> -->
        <div class="col-lg-9">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">

                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <div class="row">

                          <div class="col-md-4 mb-3">
                            <div class="card" style="height: 280px;">
                                <img class="img-fluid" alt="100%x280" src="../assets/image/appliances/a3.webp" style="height: 170px;">
                                <div class="card-body text-center">
                                    <h4 class="card-title"><b>Oven</b></h4>
                                    <p class="card-text" style="margin-top: 20px;">₹1,975</p>

                                </div>

                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                          <div class="card" style="height: 280px;">
                              <img class="img-fluid" alt="100%x280" src="../assets/image/appliances/a1.webp" style="height: 170px;">
                              <div class="card-body text-center">
                                  <h4 class="card-title"><b>Refrigerator & Furniture</b></h4>
                                  <p class="card-text" style="margin-top: 20px;">₹2,500</p>

                              </div>

                          </div>
                      </div>
                      <div class="col-md-4 mb-3">
                        <div class="card" style="height: 280px;">
                            <img class="img-fluid" alt="100%x280" src="../assets/image/appliances/a2.webp" style="height: 170px;">
                            <div class="card-body text-center">
                              <h4 class="card-title"><b>LED TV</b></h4>
                              <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                          </div>
                        </div>
                    </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">
                              <div class="col-md-4 mb-3">
                                <div class="card" style="height: 280px;">
                                  <img class="img-fluid" alt="100%x280" src="../assets/image/appliances/a4.webp" style="height: 170px;">
                                  <div class="card-body text-center">
                                    <h4 class="card-title"><b>Cooler</b></h4>
                                    <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                    </div>

                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="card" style="height: 280px;">
                                <img class="img-fluid" alt="100%x280" src="../assets/image/appliances/a5.webp" style="height: 170px;">
                                <div class="card-body text-center">
                                  <h4 class="card-title"><b>Speaker</b></h4>
                                  <p class="card-text" style="margin-top: 20px;">₹3,975</p>

                                    </div>
                                </div>
                            </div>
                            <div class="col-md-4 mb-3">
                              <div class="card" style="height: 280px;">
                                <img class="img-fluid" alt="100%x280" src="assets/image/appliances/a6.png" style="height: 170px;">
                                <div class="card-body text-center">
                                  <h4 class="card-title"><b>Homemade Appliances</b></h4>
                                  <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                      </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="row">

                                <div class="col-md-4 mb-3">
                                  <div class="card" style="height: 280px;">
                                    <img class="img-fluid" alt="100%x280" src="../assets/image/appliances/a1.webp" style="height: 170px;">
                                    <div class="card-body text-center">
                                      <h4 class="card-title"><b>Refrigerator</b></h4>
                                      <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                        </div>

                                    </div>
                                </div>
                                <div class="col-md-4 mb-3">
                                  <div class="card" style="height: 280px;">
                                    <img class="img-fluid" alt="100%x280" src="../assets/image/appliances/a5.webp" style="height: 170px;">
                                    <div class="card-body text-center">
                                      <h4 class="card-title"><b>Speakers</b></h4>
                                      <p class="card-text" style="margin-top: 20px;">₹2,975</p>

                                        </div>
                                      </div>
                                    </div>
                                    <div class="col-md-4 mb-3">
                                      <div class="card" style="height: 280px;">
                                        <img class="img-fluid" alt="100%x280" src="../assets/image/appliances/a6.png" style="height: 170px;">
                                        <div class="card-body text-center">
                                          <h4 class="card-title"><b>Cleaner</b></h4>
                                          <p class="card-text" style="margin-top: 20px;">₹3,975</p>

                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 mb-3">
                  <div class="card" style="height: 280px;background-color:grey;"> 
                      
                      <div class="card-body text-center text-white">
                        <h2 class="card-title" style="margin-top: 70px;font-size: 25px;"><b>Appliances / Furniture</b></h2>
                        <p class="card-text">For more click on view all</p>
                        <button type="submit" class="btn btn-lg btn-primary" routerLink="/Appliances" style="background-color:rgb(1, 1, 113);color:white" >VIEW ALL</button>
                    </div>
                  </div>
            </div>
          </div>
        
    </section>
</div>




